@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 100wh;
    height: 100vh;
    font-family: "Work Sans", system-ui;
    font-optical-sizing: auto;
}


.nav {
    display: flex;
    height: 70px;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
}

.nav-items{
    display: flex;
    column-gap: 20px;
}

nav h2 :hover {
    font-size: 30px;
}

.landingPage{
    background-image: url(./images/1291095.jpg);
    background-size: contain;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 60px;
    color: white;
}

.start-btn {
    margin-top: 10px;
    padding: 15px 15px;
    border-radius: 2rem;
    background-color: transparent;
    color: #73FC4D;
    font-weight: bolder;
    cursor: pointer;
    border: 3px solid gray;
}



.heart-img {
    height: 15px;
    width: 15px;
}